@tailwind base;
@tailwind components;
@tailwind utilities;


.flow-wrap{
  flex-flow:wrap;
}
.font-poppins{
  font-family:poppins;
}

.font-montserrat{
font-family:montserrat;
}

.font-roboto{
  font-family:roboto;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
 body {
  background:linear-gradient(135deg, rgba(2,27,64,1)11%, rgba(25, 30, 24,1) 100%);
  color:white;
  height:100vh;
  background-repeat:no-repeat;
  background-attachment: fixed;

}

.login-user,
.create-user{
  background:linear-gradient(312deg, rgba(26,39,103) 0%, rgba(48, 20, 94, 1)45%, rgba(0,0,0,1) 100%)
}

.login-user__logo,
.create-user__logo,
.top-header__logo{
  background-size:100% 100%;
  background-image: url(../public/img/logo.svg)
}

.create-user__color--active{
  border:2px solid white;
}

.side-nav__active{
  
  transform : translateX(0)
}

.side-nav ul li a{
  color:rgb(80,80,80);
  font-size:1.5rem;
  margin-bottom:1rem;
  transition:color .2s ease-in-out;
}
.side-nav ul li a.active, .side-nav ul li a:hover{
  font-weight:500;
  color:white;
}

.side-nav ul li {
transition: opacity .4s ease-in-out;
font-size:1.5rem;
opacity:0;
} 

@for $i from 0 through 20{
  .side-nav__active ul li:nth-child(#{$i + 1}){
    opacity: 1;
    transition-delay: 0.15s * $i;
  }
}

*::-webkit-scrollbar{
  display:none;
}

.foryou-list__top-player:hover i,
.just-added-list__top-player:hover i,
.poster-view-list__top-player:hover i,
.search-modal__top-player:hover i
{
transform:translateY(0);
opacity:1;
}


.cast-info__crew li:first-child{
  margin-right:100px;
  color:rgb(153,153,153);
  width:200px;
}
.cast-info__crew li:nth-child(2){
  color:rgb(200,200,200);
}

.account--active{
  transform:translateX(0);

}

.account li{
  opacity:0;
  transition: opacity .4s ease-in-out;
}

.account li a{
  color: rgb(80,80,80);
  font-size:1.5rem;
  text-decoration:none;
  display:block;
  margin-bottom:1rem;
  transition: color .2s ease-in-out;
}

.account li a.active,
.account li a:hover{
font-weight:500;
color:white;

}

@for $i from 0 through 20{
.account--active li:nth-child(#{$i + 1}){
  opacity:1;
  transition-delay: 0.15s * $i;
}
}

.search-modal__active{
display:flex;
flex-direction:column;
}

@for $i from 0 through 20{
  .search-modal__active .search-modal__thumbnail:nth-child(#{$i + 1}){
    opacity: 1;
    transition-delay: 0.15s * $i;
  }
}